.VERIFIKASI-MENTOR{
    display: flex;
    width: 100%;
    padding-bottom: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.VERIFIKASI-MENTOR .verifikasi-akun-res{
    flex-direction: column;
    width: 100%;
    gap: 56px;
    background-image: url(Assets/VERIFIKASI\ MENTOR.png);
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    align-items: center;
    position: relative;
}

.verifikasi-akun-res .header{
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(0deg, rgb(255, 255, 255), rgba(0, 255, 0, 0) 20.71%),
    linear-gradient(180deg, rgba(0, 255, 255, 0.366), rgba(0, 255,0,0)100.71%);
    position: sticky;
    top: 0;
    transition: 0.4s;
}

.header.scrolled{
    background-color: #39B9A5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.verifikasi-akun-res .header-kiri{
    display: flex;
    width: 231px;
    padding: 10px 50px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.verifikasi-akun-res .LOGO{
    width: 187px;
    height: 58px;
    flex-shrink: 0;
    transition: 0.4s;
}

.LOGO:hover{
    transform: scale(1.05);
  }

.verifikasi-akun-res .navbar{
    display: flex;
    padding: 10px 30px;
    align-items: center;
    align-content: center;
    gap: 9px 30px;
    flex-wrap: wrap;
}

.verifikasi-akun-res .gambar-setelah-navbar {
    width: 103px;
    height: 43px;
    display: none;
    transition: 0.4s;
    cursor: pointer;
}

.gambar-setelah-navbar.hover{
    transform: scale(1.2);
}

.verifikasi-akun-res .dropdown-content{
    display: none;
    position: absolute;
    padding: 10px 10px;
    gap: 50px 50px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.8), rgba(255,0,0,0) 100.71%),
    linear-gradient(0deg, rgb(255, 255, 255), rgba(0, 255, 0, 0) 100.71%),
    linear-gradient(180deg, rgba(0, 255, 255, 0.366), rgba(0, 255,0,0)100.71%);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: 0.4s;
    cursor: pointer;
    border-radius: 10px;
}

.dropdown-content.open{
    display: block;
    transition: 0.4s;
}

@media screen and (max-width: 1000px) {
    .verifikasi-akun-res .navbar {
        display: none; /* Hide the list of links */
    }

    .verifikasi-akun-res .LOGO {
        display: block; /* Show the logo */
    }
    .verifikasi-akun-res .gambar-setelah-navbar {
        display: block; /* Show the image after hiding the navbar */
    }
}

.verifikasi-akun-res .text-wrapper{
    color: #2F4858;
    font-family: Inknut Antiqua;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: 0.4s;
}

.text-wrapper:hover{
    letter-spacing: 0.05em;
    color: #17232b;
    font-weight: 800;
  }

.verifikasi-akun-res .informasi-loker{
    color: #2F4858;
    font-family: Inknut Antiqua;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.05em;
}

.verifikasi-akun-res .header-kanan{
    display: flex;
    padding: 10px 50px;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
}

.verifikasi-akun-res .search-button{
    width: 43px;
    height: 43px;
    transition: 0.4s;
}

.search-button:hover{
    transform: scale(1.2);
}

.verifikasi-akun-res .profil{
    width: 59.876px;
    height: 54.582px;
    flex-shrink: 0;
    transition: 0.4s;
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.25);
}

.profil:hover{
    transform: scale(1.05);
  }

.verifikasi-akun-res .verifikasi-akun{
    display: flex;
    padding: 20px 63px;
    flex-direction: column;
    align-items: center;
    gap: 39px;
    border-radius: 32px;
    background: rgba(118, 118, 118, 0.20);
}

.verifikasi-akun-res .title-create{
    color: #454444;
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.verifikasi-akun-res .isian-data-verif{
    display: flex;
    width: 664px;
    flex-direction: column;
    align-items: flex-start;
    gap: 39px;
}

.verifikasi-akun-res .text-wrapper-3{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    align-items: center;
}

.verifikasi-akun-res .text-wrapper-4{
    color: #56DBA1;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    align-items: center;
}

.verifikasi-akun-res .div-wrapper-2{
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.60);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.verifikasi-akun-res .text-wrapper-5{
    flex: 1 0 0;
    color: #B8B8B8;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.verifikasi-akun-res .div-2{
    display: flex;
    height: 92.216px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
}

.verifikasi-akun-res .p{
    width: 203px;
    height: 18.216px;
    flex-shrink: 0;
    color: #F00;
    font-family: Inter;
    font-size: 12px;
    font-style: italic;
    font-weight: 600;
    line-height: normal;
}

.verifikasi-akun-res .button-verifikasi{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background: #84EA82;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: 0.4s;
}

.button-verifikasi:hover{
    background: #035402;
}

.verifikasi-akun-res .text-wrapper-6{
    width: 216px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: 0.4s;
}

.text-wrapper-6:hover{
    color: #84EA82;
}

.verifikasi-akun-res .footer{
    display: flex;
    padding: 10px 175px 10px 128px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background: linear-gradient(180deg, #00A09F 0%, #00687D 99.97%, rgba(255, 255, 255, 0.00) 99.98%, rgba(100, 197, 197, 0.61) 99.99%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.verifikasi-akun-res .footer-kiri{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 41px;
}

.verifikasi-akun-res .logo{
    display: flex;
padding: 10px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
}

.verifikasi-akun-res .LOGO-2{
    width: 187px;
height: 58px;
}

.verifikasi-akun-res .embel{
    display: flex;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
align-self: stretch;
}

.verifikasi-akun-res .title-footer{
    position: relative;
    width: 240px;
    margin-top: -1px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.verifikasi-akun-res .footer-tengah{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 29px;
}

.verifikasi-akun-res .menu{
    display: flex;
padding: 10px 0px;
align-items: center;
gap: 10px;
align-self: stretch;
}

.verifikasi-akun-res .text-wrapper-66{
    color: #000;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.verifikasi-akun-res .isi-menu{
    display: flex;
    height: 94px;
    flex-direction: column;
    align-items: flex-start;
}

.verifikasi-akun-res .home-footer{
    width: 48.167px;
    height: 25px;
    flex-shrink: 0;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.verifikasi-akun-res .tentang-kami-footer{
    width: 112.39px;
    height: 25px;
    flex-shrink: 0;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.verifikasi-akun-res .jadwal-kelas-footer{
    width: 99px;
    flex: 1 0 0;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.verifikasi-akun-res .list-mentee-footer{
    width: 122.425px;
    flex: 1 0 0;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.verifikasi-akun-res .footer-kanan{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-end;
gap: 32px;
}

.verifikasi-akun-res .follow{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 10px;
align-self: stretch;
}

.verifikasi-akun-res .text-wrapper-66{
    color: #000;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.verifikasi-akun-res .sosmed{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 2px;
align-self: stretch;
}

.verifikasi-akun-res .text-wrapper-77{
    width: 83px;
height: 22px;
color: #000;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.verifikasi-akun-res .text-wrapper-88{
    width: 60px;
    height: 22px;
color: #000;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.verifikasi-akun-res .text-wrapper-99{
    width: 83px;
    height: 22px;
color: #000;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
