.hasil-tes-mentee{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.hasil-tes-mentee .hasil-tes-mentee-res{
    display: flex;
    width: 100%;
    padding-bottom: 17px;
    flex-direction: column;
    align-items: center;
    gap: 46px;
    flex-shrink: 0;
}


.hasil-tes-mentee-res .header{
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(0deg, rgb(255, 255, 255), rgba(0, 255, 0, 0) 20.71%),
    linear-gradient(180deg, rgba(13, 236, 13, 0.366), rgba(0, 255,0,0)100.71%);
    position: sticky;
    top: 0;
    transition: 0.4s;
  }
  
  .header.scrolled{
    background-color: rgb(147, 230, 147);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  
.hasil-tes-mentee-res .header-kiri{
    display: flex;
    width: 231px;
    padding: 10px 50px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }
  
.hasil-tes-mentee-res .LOGO{
    width: 187px;
    height: 58px;
    flex-shrink: 0;
    transition: 0.4s;
  }
  
  .LOGO:hover{
    transform: scale(1.05);
  }
  
.hasil-tes-mentee-res .navbar{
    display: flex;
    padding: 10px 30px;
    align-items: center;
    align-content: center;
    gap: 9px 30px;
    flex-wrap: wrap;
  }
  
.hasil-tes-mentee-res .gambar-setelah-navbar {
    width: 103px;
    height: 43px;
    display: none;
    transition: 0.4s;
    cursor: pointer;
  }
  
  .gambar-setelah-navbar.hover{
    transform: scale(1.2);
  }
  
.hasil-tes-mentee-res .dropdown-content{
    display: none;
    position: absolute;
    padding: 10px 10px;
    gap: 50px 50px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.8), rgba(255,0,0,0) 100.71%),
    linear-gradient(0deg, rgb(255, 255, 255), rgba(0, 255, 0, 0) 100.71%),
    linear-gradient(180deg, rgba(0, 255, 255, 0.366), rgba(0, 255,0,0)100.71%);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: 0.4s;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .dropdown-content.open{
    display: block;
    transition: 0.4s;
  }
  
  @media screen and (max-width: 1000px) {
  .hasil-tes-mentee-res .navbar {
        display: none; /* Hide the list of links */
    }
  
  .hasil-tes-mentee-res .LOGO {
        display: block; /* Show the logo */
    }
  .hasil-tes-mentee-res .gambar-setelah-navbar {
        display: block; /* Show the image after hiding the navbar */
    }
  }
  
.hasil-tes-mentee-res .text-wrapper{
    color: #2F4858;
    font-family: Inknut Antiqua;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: 0.4s;
  }
  
  .text-wrapper:hover{
    letter-spacing: 0.05em;
    color: #17232b;
    font-weight: 800;
  }
  
.hasil-tes-mentee-res .tes-minat{
    color: #2F4858;
    font-family: Inknut Antiqua;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.05em;
  }
  
.hasil-tes-mentee-res .header-kanan{
    display: flex;
    padding: 10px 50px;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
  }
  
.hasil-tes-mentee-res .search-button{
    width: 43px;
    height: 43px;
    transition: 0.4s;
  }
  
  .search-button:hover{
    transform: scale(1.2);
  }
  
.hasil-tes-mentee-res .profil{
    width: 60px;
    height: 52px;
    transition: 0.4s;
  }
  
  .profil:hover{
    transform: scale(1.05);
  }

  .hasil-tes-mentee-res .semua{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 31px;
    align-self: stretch;
  }

  .hasil-tes-mentee-res .saran{
    display: flex;
    padding: 24px 143px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    align-self: stretch;
    border-radius: 17px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(0deg, rgb(255, 255, 255), rgba(0, 255, 0, 0) 20.71%),
    linear-gradient(180deg, rgba(13, 236, 13, 0.366), rgba(0, 255,0,0)100.71%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .hasil-tes-mentee-res .div{
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .hasil-tes-mentee-res .div-wrapper{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .hasil-tes-mentee-res .p{
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .hasil-tes-mentee-res .butt-back{
    display: flex;
    width: 270px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 28px;
    background: #84EA82;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: 0.4s;
  }

  .butt-back:hover{
    background: #04bf04;
  }

  .hasil-tes-mentee-res .text-wrapper-2{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    flex: 1 0 0;
  }
  
  .hasil-tes-mentee-res .footer{
    display: flex;
    padding: 10px 100px;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    background: rgb(147, 230, 147);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.hasil-tes-mentee-res .footer-kiri{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.hasil-tes-mentee-res .logo{
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    transition: 0.4s;
}

.hasil-tes-mentee-res .div-wrapper0{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.hasil-tes-mentee-res .title-footer{
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 240px;
}

.hasil-tes-mentee-res .footer-tengah{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 29px;
}

.hasil-tes-mentee-res .menu{
    display: flex;
    padding: 10px 0px;
    align-items: center;
    gap: 10px;
}

.hasil-tes-mentee-res .text-wrapper-55{
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hasil-tes-mentee-res .isi-menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hasil-tes-mentee-res .text-wrapper-22{
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: 0.4s;
}

.text-wrapper-22:hover{
    color: #ffffff;
}

.hasil-tes-mentee-res .footer-kanan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
}

.hasil-tes-mentee-res .follow{
    display: flex;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
}

.hasil-tes-mentee-res .text-wrapper-77{
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hasil-tes-mentee-res .sosmed{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}

.hasil-tes-mentee-res .text-wrapper-66{
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}